/*
*  CONKRETEMOS SAS
*  Licencia de cabeceras para el proyecto CONKRETEMOS SAS
*  author:  ing Jaime Diaz G.
*  2016  COMPANY
*/




/* 
    Created on : 26/03/2016, 08:01:42 PM
    Author     : Jaime Diaz <jaimeivan0017@gmail.com>
*/

/*IMPORTANDO LAS FUENTES :: */

/*@import url('loadersAndMessagesStyle.css');
@import url('menu-desplegableV2.css');*/

@import url('icons-application.css');
/*@import url('headerStyles.css');*/
/*@import url('blogStyles.css');*/
/*@import url('formularios.css');*/
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Passion+One);
@import url(https://fonts.googleapis.com/css?family=Viga);
@import url(https://fonts.googleapis.com/css?family=Cabin+Condensed);
*/
/*@import url('form-session-styles.css');*/
/*ANIMACIONES Y LOADERS*/ 
/*@import url('loadersAnimations.css');*/
/*MAQUETACION DE CONTENIDOS INDEX :: PARALLAX*/
@import url('contenidoIndex-styles.css');

@import url('form-session-float-styles.css');


@font-face { 
    font-family: 'Open Sans'; 
    src: url('../assets/text-fonts/openSans/OpenSans-Regular.ttf'); 
}


* {
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	/* para que todo se contenga dentro del modelo de caja */
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
/* ------------------- RESET H1 --------------- */
h1{
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	right: 0;
	display: inline-block;
}
/*body{
	font-size: 16px;
}*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	/* para que todo se contenga dentro del modelo de caja */
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif !important;
}
 
 /*ESTILOS PARALLAX EXAMPLE ----------------------------------------------------*/
 html, body{
     width: 100%;
     height: 100%;
     font-family: helvetica;
 }
 body {
     overflow-x: hidden;
 }

 
 /*ESTILOS DE MAQUETACION ------------------------------------------------------*/
 section{
     
 }
 section article {
     /*background: #DEE0E0;*/
 }
 aside{
     background: #DD5A5A;
     color: white;
 }
 colorGrey{
     /*background: grey;*/
 }
 /*FIN MAQUETACION -------------------------------------------------------------*/
 
 
 
 
 /*SIDEBAR MAIN-----------------------------------------------------------------*/
 div#id-glyp-leftDirection{
    position: absolute;
    left: 87%;
    top: 50%;
    font-size: 3em;  
    cursor: pointer;
    color: #5BC0DE;
    -moz-transition: color 600ms linear 0s;
    -webkit-transition: color 600ms linear 0s;
    -o-transition: color 600ms linear 0s;
    transition: color 600ms linear 0s;    
 }
 div#id-glyp-leftDirection:hover{
    color: #ffffff;
    -moz-transition: color 600ms linear 0s;
    -webkit-transition: color 600ms linear 0s;
    -o-transition: color 600ms linear 0s;
    transition: color 600ms linear 0s;   
 }
 span#id-closeSidebar{
     cursor: pointer;
     color: #5BC0DE;
    /* Firefox */
    -moz-transition: color 600ms linear 0s;
    /* Chrome / Safari */
    -webkit-transition: color 600ms linear 0s;
    /* Opera */
    -o-transition: color 600ms linear 0s;
    /* Default */
    transition: color 600ms linear 0s;      
 }
 span#id-closeSidebar:hover{
     color: #ffffff;
    /* Firefox */
    -moz-transition: color 600ms linear 0s;
    /* Chrome / Safari */
    -webkit-transition: color 600ms linear 0s;
    /* Opera */
    -o-transition: color 600ms linear 0s;
    /* Default */
    transition: color 600ms linear 0s;      
 }
 div.cls-sidebar {
     position: fixed;
     width: 250px;
     height: 100vh;
     background: #333;
     color: #fff;
     outline: 1px solid #2a2a2a;
     /*display: none;*/
     left: -251px;
     z-index: 104;
 }
 div.cls-sidebar h2{
     text-align: left;
     margin: 0;
     padding: 10px;
     background: #2a2a2a;
     font-size: 1.3em;
     padding-right: 3px
 }
 div.cls-sidebar ul{
     list-style: none;
     padding: 0;
     margin: 0;
 }
 div.cls-sidebar li{
     outline: 1px solid #2a2a2a;
     transition: all 0.3s;
 }
 div.cls-sidebar li:hover{
     background: #444;
     border-left: 5px solid #5BC0DE;
 }
 div.cls-sidebar a{
     display: block;
     color: #fff;
     text-decoration: none;
     padding: 10px;
 }

/*BOTON FLOTANTE A LA IZQUIERDA*/ 
div#id-floatButtonLeft{
   margin-top: 37px;
   position: fixed;
   left: -40px;
   z-index: 103;
    /* Firefox */
    -moz-transition: left 600ms linear 0s;
    /* Chrome / Safari */
    -webkit-transition: left 600ms linear 0s;
    /* Opera */
    -o-transition: left 600ms linear 0s;
    /* Default */
    transition: left 600ms linear 0s; 
    opacity: 0.64;
}
div#id-floatButtonLeft:hover{
    /* Firefox */
    -moz-transition: left 600ms linear 0s;
    /* Chrome / Safari */
    -webkit-transition: left 600ms linear 0s;
    /* Opera */
    -o-transition: left 600ms linear 0s;
    /* Default */
    transition: left 600ms linear 0s;    
    left: -2px; 
    opacity: 1;
}


.borderExample{
    border: 1px solid red;
}
 
 
 
 
 
 
  /*BANDAS DE ACCIONES GENERALES -----------------------------------------------*/
/*BARRA DE INFORMACION ---------------------------------------------------------*/
#id-band-container {
    margin-top: 46px;
}
div.band-status-action.hide-bandStatus{
    display: none;
}
div.band-status-action{
    width: 99%;
    /* border: solid 1px #ccc; */
    border-radius: 10px;
    margin: 6px;
    display: flex;
    flex-direction: row;
    padding: 4px 0 4px 0;
    text-align: center;
    font-size: 14px;
    color: #fff;
}
div.band-status-action#success{
    background: #3D7A4F;
    border: 1px solid #58A06D;
}    
div.band-status-action#error{
    background: #DD5A5A;
    border: 1px solid #B35454;
}      

span.icon-info, 
span.icon-warning{
    margin: 0;
    font-size: 24px;
    padding: 0;
    margin-left: 10px;
}
span.icon-cross{
    justify-content: flex-end;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    font-size: 20px;
    top: 0;  
    cursor: pointer;
}
div.band-status-action p{
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
}

/*ESTILOS PARA PAGINACION*/
div#id-datagridContainer  div.container_pagin{
    border: 1px solid #CCC !important; 
    position: relative !important;
    margin-bottom: 7px;
    margin-top: 7px !important;
}
div.container_pagin ul{
    margin: 0px;
}
div.container_pagin .pagin_inline{
    width: 50%;
    height: 45px;
    padding: 5px;
}
div.container_pagin .pagin_info{
    padding: 12px;
    text-align: -webkit-center;
}
.pagin_info{

}

span#id-span-pagTotal{
    /*display: block;*/
    margin: 0 auto;
    vertical-align: top;
    vertical-align: baseline;
    font-size: 1em;
    font-weight: normal;
    margin-right: 7px;
}
table#id-table-users{
    width: 100% !important;
}

div#id-datagridContainer
{
    /*border: 1px solid grey;*/
    /*margin-right: 10px;*/    
    position: relative;
    width: 90%;    
}
/*loaders -----------------------------------------*/
div#id-loader-container{
    position: relative;
}

div#id-loader{
    position: absolute;
    /* text-align: center; */
    left: 50%;
    margin-top: 7%;
    transform: translate(-50%, -50%)!important;
    -webkit-transform: translate(-50%, -50%);
    z-index: 100;    
}
/*FORMULARIO DE EJEMPLO -------------------------------------*/
div#id-container-wrapper{
    /*margin-left: 50px;*/
    background: #EEEFEF;
    margin-top: 55px;
    position: relative;
    /*width: 93%;*/
}
/*PRECARGA DE LA PAGINA PRINCIPAL -----------------------------------------*/
div.container_pagin .pagin_info select {
    margin-left: 5px;
}
.loaderMainPage{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(1,1,1,0.8) no-repeat center; 
    z-index: 102;
    text-align: center;
}
.loaderMainPage img{
    margin-top: 11%;
}

@media  (min-width: 1138px){
	body{
		background-color: #F7F7F7;
	}
}
@media (min-width: 1024px) and (max-width: 1137px){
	body{
		background-color: #CED0D0;
	}
}
@media (min-width: 915px) and (max-width: 1023px){
	body{
		background-color: orange;
	}
}
@media (min-width: 861px) and (max-width: 914px){
	body{
		background-color: green;
	}
}
@media (min-width: 701px) and (max-width: 860px){
	body{
		background-color: green;
	}	
}
@media (min-width: 481px) and (max-width: 700px){
	body{
		background-color: blue;
	}
        div#id-container-wrapper{
            margin-left: 3px;
        }        
}
@media (min-width: 200px) and (max-width: 480px){
	body{
		background-color: #DFF0D8;
	}
        .pagin_info{
            display: none;
        }        
        div.container_pagin .pagin_inline{
            width: 100%;
            height: 45px;
            padding: 5px;
        }        
}

